CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
build
.idea
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.filters
*.sln
*.DS_Store
*.idea
*.iml
./.idea/**
*.name
Block3.iml
misc.xml
modules.xml
workspace.xml